name: Type check
on:
  - push
  - pull_request

jobs:
  type_check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - run: pipx run uv tool run --with .[typecheck] basedpyright
